*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: auto;
    padding: 0 15px;
}
.wrap{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    margin-left: -30px;
}
.box-content{
    width: calc(25% - 30px);
    border: 1px solid grey;
    margin-left: 30px;
}
.head-box-content img{
    width: 100%;
}
.body-box-content{
    padding: 20px 10px 70px 10px;
    border-bottom: 1px solid grey;
}
.body-box-content .teacher{
    color: grey;
    font-size: 15px;
}
.body-box-content .course-name{
    font-weight: 500;
    margin-top: 10px;
}
.info{
    float: left;
    padding: 10px;
}
.info span{
    margin-right: 5px;
}
.price{
    float: right;
    padding: 10px;
}
.price span{
    font-weight: bold;
    color: brown;
}


@media screen and (max-width: 1200px) {
    .container{
        max-width: 992px;
    }
}
@media screen and (max-width: 992px) {
    .container{
        max-width: 768px;
    }
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 576px;
    }
}
@media screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }
}